<div id="global-container">
      <div id="container">
        <div class="mobile-menu__cover"></div>
        <div class="nav-trigger"></div>
        <header class="header">
          <div class="header__inner appear up">
          <%= link_to root_path, class: "none", style: "text-decoration: none;" do%>
            <div class="logo item">
  
              <span class="logo__stay">RE</span>

              <span class="logo__world">ISE</span>
            </div>
            <% end %>
            <nav class="header__nav">
              <ul class="header__ul">
                <% if user_signed_in? %>

                <%= link_to user_path(current_user), class: "header__li item" do%>
                <%= @user.nickname%>
                <% end %>
                <%= link_to "Post", new_post_path, class: "header__li item" %>
                <%= link_to "LogOut", destroy_user_session_path, method: :delete , class: "header__li item"%>
                  <% else %>
                <%= link_to "LogIn", new_user_session_path, class: 'header__li item' %>
                <%= link_to "SignIn", new_user_registration_path, class: 'header__li item' %>

        <% end %>

              </ul>
            </nav>
            <button class="mobile-menu__btn">
              <span></span>
              <span></span>
              <span></span>
            </button>
          </div>
        </header>



