
<%= form_for(@post) do |f| %>
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title , placeholder: 'type a title', class:'form-control' %>
          </div>
            <div class="form-group form-group-file">
              <%= f.label :image, style:"cursor: pointer;" do%>
                <i class="far fa-file-image"></i>
                <%= f.file_field :image ,class: "file-select"%>
            <% end %>
            </div>
              <div class="form-group" >
                <%= f.text_area :body, placeholder: "text" , rows: "3", class:'form-control' %>
              </div>
                <%= f.submit "post", class: 'send-btn'%>
            <% end %>